<div class="sing-in">
  <form>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix> email </mat-icon>
      <input matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-icon matPrefix> key </mat-icon>
      <mat-icon
        style="cursor: pointer"
        matSuffix
        (click)="updatePasswordVisibility()"
        >{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon
      >
      <input
        matInput
        #passwordInput
        type="password"
        placeholder="Password"
        autocomplete="off"
      />
    </mat-form-field>
  </form>

  <button mat-stroked-button color="primary">Log in</button>
  <button routerLink="/auth/sign-up" mat-stroked-button color="accent">
    Register
  </button>
  <div class="social-media">
    <img
      src="https://img.icons8.com/color/344/google-logo.png"
      alt="google-logo"
      (click)="signInWithGoogle()"
    />
    <img
      src="https://img.icons8.com/fluency/344/facebook-new.png"
      alt="facebook-logo"
      (click)="signInWithFacebook()"
    />
  </div>
</div>
